/*This code is to style the buttons... 
feel free to change style but do not delete these*/
.choose button{
    background-color: rgb(6, 6, 6);
    font-size:30px;
    padding: 2%;
    font-family: Eater;
    text-decoration: none;
}
.choose button a{
    text-decoration: none;
  color: orange;
}

/*Add code for tutorial below this line*/
body {
overflow: hidden;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
background: #424f6f
}

#container {
  width: 400px;
  height: 400px;
padding: 0;
box-sizing: border-box;
background: #424f6f;
}

*:after,
*:before {
  box-sizing: inherit;
}
#spooky {
margin: 10% auto;
  width: 80%;
  height: 80%;
animation: floaty 2s infinite;  
}

#spooky #body {
  position: relative;
  margin: 50x auto 0;
  width: 180px;
  height: 200px;
  background: #f2fbf1
  border-top-right-radius; 90px;
    border-top-right-radius; 90px;
  border-top-left-radius; 90px;
}
#spooky #body:before,
#spooky #body:after {
content '';
  position: absolute;
top: 130px;
display: inline-block;
width: 36px;
height: 36px;
border-radius: 50%;
background: #f2fbf1
animation: floaty .2s infinite;
animation: floaty .2s infinite;
}

#spooky #body:before {
  left: -18px;
}
#spooky #body:after {
  right: -18px;
}
#spooky #body #eyes {
display: flex;
justify-content: space-between;
margin: 0 auto;
padding: 90px 0 0;
width: 90px;
height: 20px
}
#spooky #body #eyes:before,
#spooky #body #eyes:after, {
  content '';
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}
4:25