/*This code is to style the buttons... 
feel free to change style but do not delete these*/
.choose button{
    background-color: #252c49;
    font-size:30px;
    padding: 2%;
    font-family: tahoma;
    text-decoration: none;
}
.choose button a{
    text-decoration: none;
  color: rgb(255, 255, 255);
}

/*Add code for tutorial below this line*/
